<?php 
/***************************************************************
*  Copyright notice
*  
*  (c) 2003-2004 Christian Ehret (chris@ehret.name)
*  All rights reserved
*
*  This script is part of the ZVS project. The ZVS project is 
*  free software; you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation; either version 2 of the License, or
*  (at your option) any later version.
* 
*  The GNU General Public License can be found at
*  http://www.gnu.org/copyleft/gpl.html.
*  A copy is found in the textfile GPL.txt and important notices to the license 
*  from the author is found in LICENSE.txt distributed with these scripts.
*
* 
*  This script is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  This copyright notice MUST APPEAR in all copies of the script!
***************************************************************/

/* installation path */
$instpath = 'C:\zvs/';
$wwwroot = 'http://mycomputer/';
$mysqldump = 'C:\mysql\bin\mysqldump.exe';
$mysqlhost = "localhost";
$mysqluser = "user"; 
$mysqlpassword = "pass";
$systemtable = 'zvs_system';

// check for OS
if (strtoupper(substr(PHP_OS, 0, 3) == 'WIN')) {
    $seperator = ';';
} else {
    $seperator = ':';
}

// set include path
ini_set('include_path', ini_get('include_path') . $seperator . $instpath .'includes'. $seperator . $instpath .'ext/fpdf'. $seperator . $instpath .'ext/smarty/libs'. $seperator . $instpath .'ext/metabase');

// include main settings
include_once('settings2.inc.php');

?>