* {
 padding: 0;
 margin: 0;
 }

body, html {	
	background-color:#FFFFFF;	
	margin:0;
	padding:0;
	height: 100%;
   font-family: verdana,arial,helvetica,sans-serif;
	font-size: 10pt;
}

html #body
{
	height: 97%;
  /* \*/
  word-wrap: break-word;
  /* verhindert float-Probleme beim IE/win */
}	

#body {
	padding-bottom: 20px;
/*	margin-bottom: 20px;*/
}

a.dotted, a.dotted:visited {
		color: Blue;
		text-decoration: none;
		border-bottom: 1px dotted Blue;
}

a.toolbar, a.toolbar:visited {
	text-decoration: none;
	border: 1px solid #676E75;
	color: #000000;
	background-color: #F2E1AF;
	padding: 2px 5px 2px 5px;
	margin: 2px 3px 2px 0px;
	   font-family: verdana,arial,helvetica,sans-serif;
	font-size: 8pt;
}

a.toolbar:hover{
	background-color: #FFC54E;
}

#header {
	background: #C8C8C8;
   height: 38px;
	border-bottom: 1px solid #FFFFFF;
	display: block;
}

* html #header {
	height: 39px; /* Höhe für IE */
}

#header img {
	position: absolute;
	margin: 0px 20px 0px 264px;
	border: 0;
	height: 38px;
	width: 522px;
	display: block;
	border-right: 1px solid #FFFFFF;
}

#loginname {
	background-color: #FF7800;
	width: 264px;
	height: 38px;
	border-right: 1px solid #FFFFFF;
	display: block;
	position: absolute;
}

#loginname span {
		margin: 10px 0px 0px 10px;
		display: block;
		font-weight: bold;
		font-size: 11px;
}

#logo {
	position: absolute;	
	left: auto;
	right: 0px;
	width: 300px;
	background: #C8C8C8;
	height: 38px;
	border-left: 1px solid #FFFFFF;
}

#logo img {
	margin: 0px 0px 0px 0px;
	border: 0;
	height: 38px;
	width: 73px;
	display: block;
	border-left: 1px solid #FFFFFF;	
   left: auto;
	right: 0px;
}

#date {
	position: absolute;
	left: auto;
	right: 0px;
	color: #FF0000;
	font-weight: bold;
}

#servicenav {
	margin: 5px 0px 0px 0px;
	top: 0px;
	height: 20px;
	display: block;
	font-size: 11px;
	float: left;
}

#servicenav li {
	float: left;
}

#servicenav ul {
	list-style: none;
	padding: 5px 5px 4px 6px;
	display: block;
}

#servicenav ul a {
	color: #2E5DAF;
	padding: 5px 5px 4px 6px;
}

#servicenav ul a:hover {
	color: #2E5DAF;
}


#toplevelnav {
	display: block;
	font-size: 11px;
	height: 17px;
}

#secondlevelnav {
   color: #FFFFFF;
	display: block;
	clear: both;
	font-size: 11px;
	background-color: #407AA6;
	height: 22px;
}

#toplevelnav ul, #secondlevelnav ul {
	list-style: none;
}


#toplevelnav li {
	float: left;
	background-color: #93B8E1;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#toplevelnav li.current {
	background-color: #407AA6;
	border-bottom: 1px solid #407AA6;
}

#secondlevelnav li {
	float: left;
	background-color: #407AA6;
	padding: 4px 0px 0px 2px;
   color: #C8C8C8;
}


#toplevelnav ul a{
	color: #000000;
	padding: 2px 0px 0px 4px;
	height: 17px;
	text-decoration: none;
	width: 117px;
	display: block;
}

#toplevelnav ul li.current a{
	color: #FFFFFF;
	font-weight: bold;
}

#secondlevelnav ul a {
	color: #FFFFFF;
	background-color: #407AA6;
	text-decoration: none;
	float: none;
}

#toplevelnav ul a:hover {
	background-color: #407AA6;
	color: #FFFFFF;
}

#secondlevelnav ul a:hover {
	color: #93B8E1;	
}

#secondlevelnav span {
	padding: 0px 3px 0px 6px;
}
#secondlevelnav ul li.current a{
	font-weight: bold;
}

#main {
	display: block;
	clear: both;
	margin-left: 10px;
	margin-right: 10px;
}

#main h1 {
	color: #666666; /*#007800;*/
	font-size: 14pt;
	font-weight: bold;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #D4D4D4;
	margin-bottom: 1em;
}

#copyright {
	clear: both;
	bottom: 0px;
	height: 20px;
	left: 0px;
	border: 0px none;	
	color: #C8C8C8;
	width: 100%;
	text-align: center;
	font-size: smaller;
}

* html #copyright {
	position: absolute;
	top: expression(eval(document.body.clientHeight-20+document.body.scrollTop));
}

#copyright[id] {
	position:fixed; 
	display: table; 
}

#copyright a {
		text-decoration: none;
		color: #C8C8C8;
}

#dek {
	position: absolute;
	visibility: hidden;
	z-index: 200;
}

label {
  clear: both;
  float: left;
  width: 165px;
  margin: 5px 2px 2px 2px;
  text-align: right;
  font-weight: bold;
}
label.left{
	text-align: left;
}
#search-results {
	margin-top: -3px;
   margin-left: 172px; 
   display : none; 
	position: absolute;
	width: 251px; 
	border: 1px dotted #000;
	background: #FFFFFF;
	float: left; 
	z-index: 5000;
	}
 * html div#search-results { 
 		margin-top: -4px;	
      margin-left: 0px;  
 		width : 252px; 
	} /* box model hack */ 
	
a span.button {
	border:1px solid;
	border-color:#FC9 #630 #330 #F96;
	padding: 1px 3px 1px 3px;
	font-weight: bold;
	color:#333333;
	background:#F2E1AF;
	text-decoration:none;
	margin:0px;
}

#toolbar {
	padding: 0px 0px 10px 0px;
}	

table.calendar{
  background-color : #FFF7D5;
  width: 100%;
  border-spacing: 0px;
}

table.calendar td{
	padding: 0px;
   margin: 0px;
	height: 20px;
	border-collapse: collapse;  
	cursor: pointer;
}

table.calendar tr, table.calendar, table.calendar td {
	border-collapse: collapse;
	border: 1px solid #FFD940;
}
table.calendar td a{
	text-decoration: none;
}
table.calendar td:hover {
  cursor: pointer;
}

td.CalendarL0{
	background-color : #FFFFFF;
}

td.CalendarL1{
	background-color : #FFF2BD;	
}
td.CalendarL1Header{
	background-color : #FFF2BD;
	font-weight : bold;
	text-align: center;
}

td.CalendarL1HeaderLeft{
	background-color : #FFF2BD;
}

td.CalendarL1Left{
	background-color : #FFF2BD;
	font-weight : bold;
}

td.CalendarL0Left{
	background-color : #FFFFFF;
	font-weight : bold;
}
td.CalendarRoom0{
}

td.CalendarRoom1{
}

td.colorchooser{
	border : 1px solid #FFD940;
	width: 10px;
	height: 10px;
}

table.list {
	background-color: #F7F7F7;
}

table.list th {
	text-align: left;
	color: #808080;
	background-color: #EBEBEB;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
}

tr.ListL0{
	padding-left : 3px;
	padding-top : 1px;
	padding-right : 3px;
	padding-bottom : 1px;
	background-color : #FFFFD4;
	height: 30px;
}
tr.ListL1{
	padding-left : 3px;
	padding-top : 1px;
	padding-right : 3px;
	padding-bottom : 1px;
	background-color : White;
	height: 30px;
}
tr.ListL0 td, tr.ListL1 td, tr.ListHighlight td {
	padding: 4px;
}
tr.ListHighlight td {
	cursor: pointer;
}
tr.ListHighlight{
	padding-left : 3px;
	padding-top : 1px;
	padding-right : 3px;
	padding-bottom : 1px;
	background-color : #C8C8C8; 
	height: 30px;	
}
tr.ListHeader{
	padding-left : 3px;
	padding-top : 1px;
	padding-right : 3px;
	padding-bottom : 1px;
	background-color :  White;
	font-weight: bold;
	text-align: left;
}

div.searchbox {
	padding-top: 20px;
	padding-bottom: 20px;
}


input.button_right {
	text-decoration: none;
	border: 1px solid #676E75;
	color: #000000;
	background-color: #F2E1AF;
	padding: 2px 5px 2px 5px;
	margin: 2px 3px 2px 0px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 8pt;
}

input.button_right:hover, input.button_right_hover{
	text-decoration: none;
	border: 1px solid #676E75;
	color: #000000;
	background-color: #FFC54E;
	padding: 2px 5px 2px 5px;
	margin: 2px 3px 2px 0px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 8pt;	
}

.sr, .srs { 
	width : 100%; 
	float : left; 
	padding : 1px 0px 0px 0px; 
}

.sr { 
	background-color : #FFFFFF; 
	color : #000000; 
}

.srs { 
	background-color : #2E5DAF;; 
	color : #FFFFFF; 
	cursor : pointer; 
}

.sr .src { 
	color : #000000; 
}

.srs .src { 
	color : #FFFFFF; 
}

.srt { 
	float : left; 
	margin-left : 4px; 
}

.src { 

	margin-right : 3px; 
	padding-top : 2px; 
}

span.error {
	color: red;
	padding: 2px 0px 2px 0px;
	text-align: center;
}

input.text {
	width: 150px;
	padding: 1px 5px 1px 5px;
	margin: 2px 3px 2px 0px;	
}

div.toolbar {
	background-color: #F2F2F2;
	padding: 5px;
	width: 98%;
}

table.mainaddress {
  table-layout: fixed;
  width: 98%;
  border-collapse: collapse;
}

table.mainaddress td {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px dashed #666666 !important;
	padding: 4px;
	height: 22px;
}

table.address {
  table-layout: fixed;
  width: 98%;
  border-collapse: collapse;
}

table.address td {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px dashed #666666 !important;
	padding: 4px;
	height: 22px;
}


textarea.disabled {
	color: #000000 !important;
	background-color: #FFFFFF;
	border: 0px;
	overflow: auto;
}

table.city td {
	border: 0px !important;
}

td.annotation {
	font-size: smaller;
}